KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=orderbook.btcusdt
PRODUCER_CLIENT_ID=orderbook-producer
MARKET=spot
WS_URL=wss://stream.binance.com/ws
REST_SNAPSHOT_URL=https://api.binance.com/api/v3/depth
SNAPSHOT_LIMIT=5
